/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-dic-2020, 17:33:07
    Author     : Pamychan
*/

.selector-for-some-widget {
  box-sizing: content-box;
}

body{
    height: 100vh;
    padding: 10vh 10vw 10vh 10vw;
  
}

.fila-botones > div > div:hover{
   background-color: #d7d7d8!important;
   cursor: pointer;
}


 .btn-calc:fucus{
    background-color: #999999!important;
   cursor: pointer;
}